
.header {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    /* color: rgb(143, 130, 114); */
    color: white;
    align-content: center;
    top: 0;
}

.panel {
    position: absolute;
    background: rgba(31, 31, 31,.85);
    border-radius: .25em;
    height: 10em;
    top: 26em;
    width: 95%;
    box-shadow: 0 0 2em rgb(54, 54, 54);
    min-width: 520px;

}

.company_name {
    position: absolute;
    display: inline-block;
    text-align: center;
    justify-content: center;
    width: 98vw;
    font-size: calc(3rem + 2vw);
    top: .25rem;
    margin: 0;
    padding: 0;
    text-transform: capitalize;
    letter-spacing: .050em;
    color: white;
    text-shadow: 0 0 .25rem black;
    /* border: 1px solid magenta; */
}

.leaders {
    /* border: 1px solid magenta; */
    position: relative;
    perspective: 90em;
    top: 150px;
    flex-direction: row;
    align-items: center;
    display: flex;
    width: 100%;
}


.coat {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20rem;
    aspect-ratio: 1;
    top: 30rem;
    /* border: 1px solid cyan; */
}

.coat > img {
    position: absolute;
    max-width: 100%;
}

.coat .shield {
    filter: brightness(.5) sepia(49%) saturate(100000%) hue-rotate(276deg) drop-shadow(0 0 2em black);

}

.shield {
    border-radius: 1.8em;
    overflow: hidden;
}
body, html {
    height: 100%;
    margin: 0;
}

body {
    background: url(../images/background-placeholder.jpg);
    background-color: rgba(0, 0, 0, 0.45);
    background-blend-mode: multiply;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    gap: 2em;
    flex-direction: column;
    align-items: center;
    font-family: 'IM Fell DW Pica', serif;
    
}


.floor {
    position: fixed;
    /* background: url(../images/faction-floor.png) no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: bottom; */
    /* border: 10px solid magenta;  */
    /* clip-path: polygon(0 0, 100% 0, 100% 50%, 0 50%); */
    z-index: -1;
    width: 100vw;
    height: 3000px;
    bottom: -1000px;
    transform: scale(2,1) rotateX(70deg) translateY(40em);
    /* filter: drop-shadow(2px 2px 2px rgb(110,40,173)); */
}

.floor img {
    height: 100%;
    width: 100%;
    filter: invert() opacity(.1);
}

@media screen and (max-width: 2389px) {
    .leaders-left .leader:first-child {
        /* opacity: 0; */
    }
    .leaders-right .leader:last-child {
        --percent-visible: calc((100vw - 2089px));
        /* opacity: var(--percent-visible); */
        background-position-x: var(--percent-visible);
    }
}
@media screen and (max-width: 1730px) {
    .leaders-left .leader:first-child {
        display: none;
        /* animation: leadersFade 400ms forwards; */
    }
    .leaders-right .leader:last-child {
        display: none;
        /* animation: leadersFade 400ms forwards; */
    }
}
@media screen and (max-width: 1420px) {
    .leaders-left .leader:first-child,
    .leaders-left .leader:nth-child(2) {
        display: none;
        /* animation: leadersFade 400ms forwards; */
    }
    .leaders-right .leader:last-child,
    .leaders-right .leader:nth-child(3) {
        display: none;
        /* animation: leadersFade 400ms forwards; */
    }
}
@media screen and (max-width: 1120px) {
    .leaders-left .leader:first-child,
    .leaders-left .leader:nth-child(2),
    .leaders-left .leader:nth-child(3) {
        display: none;
        /* animation: leadersFade 400ms forwards; */
    }
    .leaders-right .leader:last-child,
    .leaders-right .leader:nth-child(3),
    .leaders-right .leader:nth-child(2) {
        display: none;
        /* animation: leadersFade 400ms forwards; */
    }
}

@media screen and (max-width: 805px) {
    .leaders-left .leader {
        display: none;
        /* animation: leadersFade 400ms forwards; */
    }
    .leaders-right .leader {
        display: none;
        /* animation: leadersFade 400ms forwards; */
    }
}

@media screen and (max-width: 805px) {
    .panel {
        display: none;
    }
}

@keyframes leadersFade {
    0% {
        opacity: 1;
        width: 100px;
    }
    99% {
        opacity: 0; 
        width: 100px;       
    }
    100% {
        opacity: 0;
        width: 0;
        overflow: none;

    }
}

.leader {
    /* border: 1px solid cyan; */
    display: block;
    width: 200px;
    height: fit-content;
    margin-left: -1.8rem;
    /* background: rgba(0, 255, 255, 0.1); */
    align-items: center;
    text-align: center;
}

.leader img {
    height: 425px;
    max-width: 100%;
}

.leader p {
    color: #d5d5d5;
    text-shadow: 0 0 .125rem black;
    font-size: 1.6em;
}

.leaders-left, .leaders-right {
    display: flex;

}

.leaders-left .leader::after,
.leaders-right .leader::after {
    position: absolute;
    content: '';
    height: 10em;
    width: 14em;
    background: black;
    bottom: -90px;
    left: 10;
    filter: blur(3em);
    opacity: .6;
    transform: rotateY(-50deg) translateX(-22em) rotateX(65deg) translateY(-8em);
}

.leaders-left .leader::after {
    transform: rotateY(-50deg) translateX(-15em) rotateX(-65deg) translateY(-8em);

}
.coat::after {
    position: absolute;
    content: '';
    height: 5em;
    width: 20em;
    background: black;
    bottom: 0;
    left: 100;
    transform: rotateX(65deg);
    filter: blur(3em);
}

.leaders-center {
    position: relative;
    width: 350px;
    align-items: center;
    justify-content: center;
    min-width: 350px;
    top: -2rem;
    margin: auto .5rem;
    /* border: 1px solid magenta; */
}
.leaders-center .leader {
    width: 100%;
    margin-left: 0;
    /* border: 1px solid cyan; */
}

.leaders-center img {
    width: 70%;
    height: 70%;
}

.leaders-center p {
    font-size: 2em;
    /* border: 1px solid yellow; */
}

.leaders-left {
    left: 0;
    transform: rotateY(35deg);
    margin-left: auto;
}

.leaders-left img{
    transform: scaleX(-1);
}

.leaders-right {
    transform: rotateY(-35deg);
    margin-right: auto;

}

.btn {
    position: absolute;
    top: 80vh;
    background: rgba(110, 40, 173, .8);
    border: .125em solid rgb(110,40,173);
    color: white;
    text-decoration: none;
    border-radius: .25em;
    /* box-shadow: 0 0 .5em black; */
    font-size: 2em;
    padding: 1em 1.4em;
    /* text-transform: uppercase; */
}

.btn:hover {
    background: rgba(110, 40, 173, 1);
    color: white;
    text-decoration: none;
    border-radius: .25em;
    box-shadow: 0 0 .5em white,
    0 0 2em rgba(110, 40, 173, 1);
    font-size: 2em;
    padding: 1em 1.4em;
}

/* .panel::after {
    opacity: 0;
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    border-radius: .25em;
    background: rgba(110, 40, 173, 1);
    z-index: -1;
    filter: blur(2em);
    animation: pulse 2250ms infinite;
  } */

.coat::before {
    opacity: 0;
    content: "";
    position: absolute;
    top: -90px;
    bottom: 0;
    right: 0;
    left: 0;
    border-radius: 50%;
    background: rgba(110, 40, 173, 1);
    z-index: -1;
    filter: blur(2em);
    animation: pulse 3550ms infinite;
  }

@keyframes pulse {
    0% {
      transform: scale(0.95);
      opacity: 0.95;
    }
    100% {
      transform: scale(1.8);
      opacity: 0;
    }
  }